body .calendar-container {
  background-color: #fff;
}

body #btn-theme-sun {
  display: none;
}

body #btn-theme-moon {
  display: block;
}

#btn-prev-month,
#btn-next-month {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 0.875rem;
  cursor: pointer;
  margin: 2.5px;
}

#btn-prev-month:hover,
#btn-next-month:hover {
  background-color: #0056b3;
}



.calendar-view { display: none; }
.calendar-view.active { 
  display: block; 
  height: 90vh;
  overflow-y: scroll;
  padding: 0 10px;
}

.calendar-container { 
  border-radius: 5px; 
}
.calendar-container .date-container {
  margin-bottom: 20px;
}
.calendar-container .calendar-view.active,
#year-view, 
#month-view,
#week-view,
#day-view,
#event-view {
  animation: bounceOut 800ms ;
}

.calendar-container .event-item, 
.calendar-container .accordion-collapse,
#recurrenceEvents {
  animation: fade 700ms ;
}
* {
  transition: all 100ms;
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% { 
    opacity: 1;
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.001);
  }
  100% { 
    transform: scale(1);
  }
}


/* width */
.calendar-view ::-webkit-scrollbar {
  width: 5px;
  border-radius: 25%;
  transition: all 500ms;
}

/* Track */
.calendar-view ::-webkit-scrollbar-track {
  background: inherit; 
}
 
/* Handle */
.calendar-view ::-webkit-scrollbar-thumb {
  background: inherit; 
}

/* Handle on hover */
.calendar-view ::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1; 
}

.modal {
  background-color: rgba(0, 0, 0, 0.3); /* Ajuster l'opacité pour s'aligner avec le thème clair */
}